//
   Created by Fszer on 2015/5/10.
-var list=["动 画", "新番更新列表","娱 乐", "舞 蹈", "游 戏", "影 视", "科 技", "体 育"]
mixin pet(name,i)
    li(data-row="#{i}" value=name,name="lists" data-col='1' data-sizex='1' data-sizey='1')= name
doctype html
html(lang="en")

    head
        title
        meta(charset="UTF-8")
        script(src="../js/lib/jquery-2.1.4.min.js", type="text/javascript")
        script(src="../js/lib/jquery.gridster.min.js", type="text/javascript")
        script(src="../js/message.js", type="text/javascript")
        script(src="../js/option.js", type="text/javascript")
        link(href="../style/jquery.gridster.css" rel="stylesheet")
        link(href="../style/style.css" rel="stylesheet")

    body
        nav
        #bg
        main.gridster
            #temp
            ul(style="height: 480px; position: relative;")

            #buttons
                span(id="save" )
                    |保存
                span(id="reset" )
                    |重置
        aside

        footer

